<button type="button" class="btn btn-sm btn-default" (click)="onConfirmDeleteTimeEntry(content)"><fa-icon [icon]="['far', 'trash-alt']"></fa-icon></button>
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Delete Time Entry</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Close')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container">
      Delete Time Entry for: <label style="font-weight:bold;">{{timeEntry.title}}</label>?
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save')">Yes</button>
    <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss('Cancel')">No</button>
  </div>
</ng-template>
